<div id="navigation">
  <div class="col-md-12">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Catalogue", catalogue_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if user_signed_in? %>
        <li>
        <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } do %>
          Customer Logout
        <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path do %>
            Customer Login
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
