<div class="row">
<div class="col-md-6 about">
  <h1>What is La Svea?</h1>
      <p>The cupcake evolved in the United States in the 19th century, and it was revolutionary because of the amount of time it saved in the kitchen. There was a shift from weighing out ingredients when baking to measuring out ingredients. According to the Food Timeline Web, food historians have yet to pinpoint exactly where the name of the cupcake originated. There are two theories: one, the cakes were originall cooked in cups and two, the ingredients used to make the cupcakes were measured out by the cup.

In the beginning, cupcakes were sometimes called "number" cakes, because they were easy to remember by the measurements of ingredients it took to create them: One cup of butter, two cups of sugar, three cups of flour, four eggs, one cup of milk, and one spoonful of soda. Clearly, cupcakes today have expaned to a wide variety of ingredients, measurements, shapes, and decorations - but this was one of the first recipes for making what we know today as cupcakes.

Cupcakes were convenient because they cooked much quicker than larger cakes. When baking was down in hearth ovens, it would take a long time to bake a cake, and the final product would often be burned. Muffin tins, also called gem pans, were popular around the turn of the 20th century, so people started created cupcakes in tins.

Since their creation, cupcakes have become a pop culture trend in the culinary world. They have spawned dozens of bakeries devoted entirely to them. While chocolate and vanilla remain classic favorites, fancy flavors such as raspberry meringue and espresso fudge can be found on menus. There are cookbooks, blogs, and magazines specifically dedicated to cupcakes.</p>
</div>

<div class="col-md-6 cupcake">
<%= image_tag ("cupcake.jpg") %>
<%= image_tag ("cupcake2.jpg") %>
<%= image_tag ("cupcake3.jpg") %>
<%= image_tag ("cupcake4.jpg") %>
<%= image_tag ("cupcake5.jpg") %>
<%= image_tag ("cupcake6.jpg") %>
<%= image_tag ("cupcake7.jpg") %>
<%= image_tag ("cupcake8.jpg") %>
<%= image_tag ("cupcake9.jpg") %>
<%= image_tag ("cupcake10.jpg") %>
<%= image_tag ("cupcake11.jpg") %>
<%= image_tag ("cupcake12.jpg") %>
</div>
</div>