<div class="row">
  <div class="col-md-7 contact">
    <%= simple_form_for(:contact_info, url: "/contact_post", method: :post, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :contact_number %>
      <%= f.input :message, as: :text %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-md-5 postit">
    <div class=""><b>CALL US:</b> 783-61-70 </div>
    <div class=""><b>Address:</b> #750 Dos Castillas Sampaloc Manila </div>
     <%= image_tag ("cup.png") %>
  </div>
</div>
